{% extends 'blog/base.html' %}

{% block main_area %}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
    </tr>
    </thead>
    <tbody>
        {% for board in board_list %}
        <tr>
            <th scope="row">{{ board.pk }}</th>
            <td><a href="{{ board.get_absolute_url }}">{{ board.title }}</a></td>
            <td>{{ board.author }}</td>
            <td>{{ board.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr/>

{% if request.user.is_authenticated %}
    <a href="/board/create/" type="button" class="btn btn-secondary float-right">글쓰기</a>
{% else %}
    <a type="button" class="btn btn-secondary float-right" href="#" data-toggle="modal" data-target="#loginModal">글쓰기</a>
{% endif %}



{% endblock %}