body {
 background: url('/static/single_pages/images/city_evening_large.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -background-size: cover;
 -o-background-size: cover;
}

section {
    margin-bottom: 150px;
}

.card {
    background: rgba(255, 255, 255, 0.75);
}

